.git
.github
node_modules
**/node_modules
dist
**/dist
.nuxt
**/.nuxt
.nitro
**/.nitro
.output
**/.output
.data
**/.data
.cache
**/.cache
**/.vitepress/cache
**/.vitepress/dist
dist-ssr
**/dist-ssr
coverage
**/coverage
cypress/screenshots
**/cypress/screenshots
cypress/videos
**/cypress/videos
cypress/downloads
**/cypress/downloads
logs
**/logs
*.log
**/*.log
*.tsbuildinfo
**/*.tsbuildinfo
.env*
**/.env*
!.env.example
!**/.env.example
